.landing-container {
    background-image: url("../../../assets/lofi-bg.jpg");
    height: 100hv;
    width: 100hv;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: 4;
}